<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kwella</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kwella.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Kwellasa</a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="bi-list"></i>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">


                        <li class="nav-item"><a class="nav-link me-lg-2" href="#inicio">Wella</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-2" href="#sobre">Sobre</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-2" href="#servicos">Serviços</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-2" href="#download">Download</a></li>


                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-dark rounded-pill px-3 mb-2 mb-lg-0">
                                Social
                            </button>
                        </div>


                    </ul>
                    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" >
                        <span class="d-flex align-items-center">
                            <i class="bi-chat-text-fill me-2"></i>
                            <span class="small">Contact us</span>
                        </span>
                    </button>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </br>
    <footer class=" footer text-muted">
        <div class="container text-center">
            &copy; Kwellaa 2024. All Rights Reserved.</br>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> 
            <a asp-area="" asp-controller="Home" asp-action="Terms">Terms</a> 
            <a asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
