<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kwella</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kwella.styles.css" asp-append-version="true" />

    <style>
        .modal-lg-custom {
            max-width: 600px;
        }

        .modal-body .form-control, .modal-body textarea {
            margin-bottom: 10px;
        }

        .modal-body button {
            margin-top: 10px;
        }
    </style>
    
</head>

<body>
    <div class="container px-5">
        <div class="row">
            <div class="col-12">
                <div class="modal fade" id="contactModal">
                    <div class="modal-dialog modal-dialog-centered modal-sm  modal-lg-custom">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Titulo</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body py-3">
                                <input class="form-control " placeholder="Nome Completo">
                                <input class="form-control" placeholder="Email">
                                <input class="form-control" placeholder="Contacto">
                                <textarea placeholder="Mensagem" rows="6" cols="75"></textarea>
                                <button class="btn btn-primary " type="button">Submit</button>

                            </div>
                            <div class="modal-footer">
                                <p class="text-start">Contacte-nos atraves das redes:</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <a href="#" data-bs-toggle="modal" data-bs-target="#contactModal">Contact us</a>-->
            </div>
        </div>
    </div>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Kwellasa</a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="bi-list"></i>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">


                        <li class="nav-item"><a class="nav-link me-lg-2" href="#inicio">Wella</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-2" href="#sobre">Sobre</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-2" href="#servicos">Serviços</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-2" href="#download">Download</a></li>


                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-dark rounded-pill px-3 mb-2 mb-lg-0">
                                Social
                            </button>
                        </div>


                    </ul>
                    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#contactModal">
                        <span class="d-flex align-items-center">
                            <span class="small">Contact us</span>
                        </span>
                    </button>
                </div>

            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </br>
    <footer class=" footer text-muted" style="background-color:black">
        <div class="container text-center" style="color:#c0c0c0">
            &copy; Kwellaa 2024. All Rights Reserved.</br>
            <a asp-area="" asp-controller="Home" asp-action="Privacy" style="text-decoration:none; color:#c0c0c0">Privacy</a>
            <a asp-area="" asp-controller="Home" asp-action="Terms" style="text-decoration:none; color:#c0c0c0">Terms</a>
            <a asp-area="" asp-controller="Home" asp-action="FAQ" style="text-decoration:none; color:#c0c0c0">FAQ</a>
        </div>
    </footer>
    
    <!-- <script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
