@{
    ViewData["Title"] = "Home Page";
}


    <div class="container px-5">
        <!--Landing Section - Inicio -->
        <div class="row gx-5 align-items-center" id="inicio" style="height: 85vh;">
            <div class="col-lg-6">
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Wella</h1>
                    <p class="lead fw-normal text-muted mb-5">
                        Wella é o seu aplicativo móvel para transporte de carga
                        leve e pesada em tempo real!
                    </p>
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <a class="me-lg-3 mb-4 mb-lg-0" href="#!">
                            <img class="app-badge" src="~/assets/img/google-play-badge.svg" alt="..." />
                        </a>
                        <a href="#!"><img class="app-badge" src="~/assets/img/app-store-badge.svg" alt="..." /></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="assets/img/Image1.png" height="80%" width="80%" alt="">
            </div>
        </div>
    </div>
<div class="container-fluid px-5" style="background-color: red; height: 30vh;">
            <div class="row gx-5 justify-content-center text-center ">
                <div class="col-xl-8">
                    <div class="h2 fs-1 text-white mb-4">
                        "Iniciativa inovadora e líder no setor da mobilidade urbana e
                        logistica!"
                    </div>
                    <div class="h2 fs-1 text-white mb-4">DW Africa</div>
                </div>
            </div>

        </div>

    <div class="container-fluid" style="background-color: #e4e4e4; height: 40vh;">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                <div class="col-12 col-lg-5">
                    <h2 class="display-4 lh-1 mb-4">Wella</h2>
                    <p class="lead fw-normal text-muted md-5 mb-lg-0">
                        Transporte facilmente eletrodomésticos, materiais de construção e muito mais com apenas
                        alguns toques no seu smartphone
                    </p>
                </div>
                <div class="col-sm-8 col-md-6">
                    <div class="px-5 px-sm-0">
                        <img src="~/assets/img/logo.png" width="60%" height="60%" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>

