@{
    ViewData["Title"] = "Home Page";
}

<!--Landing Section - Inicio -->
<div class="container px-5" id="inicio" style="height: 85vh;">
        <div class="row gx-5 align-items-center" >
            <div class="col-lg-6">
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Wella</h1>
                    <p class="lead fw-normal text-muted mb-5">
                        Wella é o seu aplicativo móvel para transporte de carga
                        leve e pesada em tempo real!
                    </p>
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <a class="me-lg-3 mb-4 mb-lg-0" href="#!">
                            <img class="app-badge" src="~/assets/img/google-play-badge.svg" alt="..." />
                        </a>
                        <a href="#!"><img class="app-badge" src="~/assets/img/app-store-badge.svg" alt="..." /></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="assets/img/Image1.png" height="80%" width="80%" alt="">
            </div>
        </div>
    </div>
<div class="container-fluid px-5" style="background-color: red; height: 30vh;">
            <div class="row gx-5 justify-content-center text-center ">
                <div class="col-xl-8">
                    <div class="h2 fs-1 text-white mb-4">
                        "Iniciativa inovadora e líder no setor da mobilidade urbana e
                        logistica!"
                    </div>
                    <div class="h2 fs-1 text-white mb-4">DW Africa</div>
                </div>
            </div>

        </div>


<!--Landing Section - Short Brief wella-->
    <div class="container-fluid" style="background-color: #e4e4e4; height: 40vh;">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                <div class="col-12 col-lg-5">
                    <h2 class="display-4 lh-1 mb-4">Wella</h2>
                    <p class="lead fw-normal text-muted md-5 mb-lg-0">
                        Transporte facilmente eletrodomésticos, materiais de construção e muito mais com apenas
                        alguns toques no seu smartphone
                    </p>
                </div>
                <div class="col-sm-8 col-md-6">
                    <div class="px-5 px-sm-0">
                        <img src="~/assets/img/logo.png" width="60%" height="60%" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>


<!--Landing Section - Apresentacao de tipo de transportes-->
<div class="container px-5" style="height: 85vh;">
    <div class="row align-items-center gx-5 pt-5 ">

        <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
            <div class="container-fluid px-5">
                <div class="row gx-5">
                    <div class="col-md-6 mb-5">
                        <div class="text-center">
                            <img src="~/assets/img/motocarga.png" width="40%" height="40%" alt="">
                            <h3>Easy</h3>
                            <p class="text-muted text-start mb-0">
                                Para cargas muito leves, ideal para envios
                                rápidos e pequenos. Veículos nesta categoria são adequados para cargas de até 1
                                tonelada.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <div class="text-center">
                            <img src="~/assets/img/motocarga.png" width="40%" height="40%"
                                 alt="">
                            <h3>Flex</h3>
                            <p class="text-muted text-start mb-0">
                                Projetado para cargas médias, oferecendo
                                versatilidade e capacidade moderada.
                                Veículos nesta categoria podem transportar cargas de até 7 toneladas
                            </p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <div class="text-center">
                                <img src="~/assets/img/motocarga.png" width="40%" height="40%" alt="">
                                <h3>Big</h3>
                                <p class="text-muted text-start mb-0">
                                    Destinado a cargas pesadas, proporcionando robustez
                                    e poder de transporte. Veículos
                                    na categoria Big são capazes de lidar com cargas de até aproximadamente 15
                                    toneladas.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center">
                                <img src="~/assets/img/motocarga.png" width="40%"
                                     height="40%" alt="">
                                <h3>X-Big</h3>
                                <p class="text-muted text-start mb-0">
                                    Para cargas de grande porte e viagens nacionais e
                                    internacionais, oferecendo
                                    capacidade e alcance estendidos. Caminhões nesta categoria podem ter 3 eixos
                                    ou
                                    mais.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-lg-4 order-lg-0">
                <img src="~/assets/img/Image2.png" width="90%" height="150%" alt="">
            </div>
        </div>
    </div>

<!--About Section - Wellaa-->
<div class="container px-5" id="sobre">
    <div class="row align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-5">
            <h2>Kwellaa</h2>
            <p class="lead fw-normal text-muted mb-5 mb-lg-0" style="text-align: justify;">
                Fundada em 2018, a Kwellaa iniciou suas operações na área de transporte de pessoal e boleia
                compartilhada, marcando seu início no setor de transporte em Moçambique. Destaque na revista DW
                África, a Kwellaa recebeu reconhecimento pela sua inovação e contribuição para o transporte no
                continente.
            </p>
            <!-- na ancora usar propriedades asp para chamar a view Sobre-->
            <a class="btn btn-outline-dark rounded-pill py-2 px-5 mt-4 " href="#">Sobre o Kwellaa</a>
        </div>
    </div>

    <div class="col-sm-8 col-md-6">
        <div class="px-5 px-sm-0">
            <img class="img-fluid rounded-circle" src="~/assets/img/about-image.png" width="90%" height="150%" alt="">
        </div>
        
    </div>
    </div>


<!--Services Section - Wellaa-->
<div class="container" id="servicos">
    <div class="row">
        <div class="col">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h3>Kwellaa Empresarial</h3>
                        <p>
                            Com a Kwellaa Empresarial, sua empresa pode contar com uma equipe dedicada e veículos
                            modernos, garantindo que seus funcionários cheguem ao trabalho de forma pontual e
                            confortável.
                        </p>
                    </div>
                    <div class="col">
                        <h3>Boleia Partilhada</h3>
                        <p>
                            Com a Kwellaa Boleia Partilhada, você pode economizar tempo e dinheiro, enquanto
                            contribui para a redução do tráfego e da emissão de carbono.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Aluguer de Viaturas</h3>
                        <p>
                            Com opções flexíveis de aluguel e tarifas competitivas, garantimos que você encontre
                            o veículo perfeito para a sua próxima aventura.
                        </p>
                    </div>
                    <div class="col">
                        <h3>Aplicativo Wella</h3>
                        <p>
                            Com funcionalidades intuitivas e uma interface fácil de usar, o aplicativo Wella
                            oferece conveniência e eficiência para todos os seus envios.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <button>Servicos do Kwellaa</button>
                </div>
            </div>
        </div>
        <div class="col">
            <img src="~/assets/img/Image2.png" width="90%" height="150%" alt="">
        </div>
    </div>
</div>